html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(href="../css/style.css" rel="stylesheet") 
        title pug practice
        //- 内联样式如下
        style.
            p {
                color: green;
            }
        
    body
        h1#page-title
        p.red.
            Hello World
            Great
            Fabulous
        //- 只加 id 或者 class, 没有 tag 前缀默认为 div
        .input-div
            input(type="text" name="input-name" data-js=`${5 > 2  ? "Ok" : "Not OK"}`)

        - const classArr = ['cls1', 'cls2', 'cls3']
        div.inital(class="second" class=classArr)

        - const cssObj = {color: "red"}
        div(style=cssObj)

        //- &attributes 一个对象转换为一个元素的属性列表
        div.imgDiv
            - const attrObj = {src: 'img.png', alt: 'my image'}
            - url = 'http://www.baidu.com'
            img&attributes(attrObj)
            a(href=url) 

        //- for 和 each 是等价的
        - const numberArr = [1, 2, 3, 4]
        - const grades = {math: 90, english: 80}
        ul
            each value, index in numberArr
                li= `${index} for ${value}`
            
        each score, subject in grades
            p #{subject} : #{score}

        div
            //- 可以使用内联语法
            a: img(src="./", alt="")
        
        //- 直接可以进行 js 运行, 使用 - , 空一行以后进行 js 书写
        - 
            for (let i = 0; i < 5; i++) {
                console.log(i)
            }

